<!-- <h1> <%#= @user.username.capitalize %>'s todo lists:</h1> -->
<!-- hardcoded into index.html.erb
<div>
	<ol>
	<% @lists.each do |list| %>
	
		<li> <%= list.title %></li>
		<ul>
			<% list.todo_items.each do |item| %>
			<li><%= item.name %></li>
			<%  end %>
		</ul>
		<br>
	
	<% end %>
	</ol>
</div> -->

<%= form_for(@list, :remote => true) do |f| %>
	<%= f.label :title, "New list" %>:
	<%= f.text_field :title %>
	<br>
	<%= f.submit %>
<% end %>

<script type="application/json" id="lists">
<% ActiveRecord::Base.include_root_in_json = true %>
<%= @user.todo_lists.to_json(:include => :todo_items).html_safe %>
</script>

	
